* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

@font-face {
  font-family: "grupo-services_black";
  src: url("/src/Assets/Fonts/Grupo-Services/grupo_services_black.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "grupo-services_bold";
  src: url("/src/Assets/Fonts/Grupo-Services/grupo_services-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "grupo-services_demirounded";
  src: url("/src/Assets/Fonts/Grupo-Services/grupo_services_demirounded.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "grupo-services_extrabold";
  src: url("/src/Assets/Fonts/Grupo-Services/grupo_services_extrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "grupo-services_ligth";
  src: url("/src/Assets/Fonts/Grupo-Services/grupo_services_light.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "grupo-services_medium";
  src: url("/src/Assets/Fonts/Grupo-Services/grupo_services_medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "grupo-services_regular";
  src: url("/src/Assets/Fonts/Grupo-Services/grupo_services_regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "grupo-services_thin";
  src: url("/src/Assets/Fonts/Grupo-Services/grupo_services_thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sf-ProdDisplay_bold";
  src: url("/src/Assets/Fonts/SF/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sf-ProdDisplay_medium";
  src: url("/src/Assets/Fonts/SF/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sf-ProdDisplay_regular";
  src: url("/src/Assets/Fonts/SF/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sf-ProdDisplay_semiBold";
  src: url("/src/Assets/Fonts/SF/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*COLORS*/
/*fonts*/
/*KEYFRAMES*/
@keyframes shake {
  25% {
    transform: translateX(4px); }
  50% {
    transform: translateX(-5px); }
  100% {
    transform: translateX(4px); } }
.container--footer-bakcground {
  width: 100%;
  max-width: 480px;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 382px;
  margin-top: 30px; }

.container--footer-desciption {
  width: 80%;
  max-width: 354px;
  height: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.footer--description-imgGrupo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  border-bottom: 1px solid #363636; }
  .footer--description-imgGrupo img {
    width: 100%;
    max-width: 86px; }

.footer--description-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #363636; }
  .footer--description-links a {
    font-size: 14px;
    font-family: "sf-ProdDisplay_regular";
    color: #FFFFFF; }

.footer--description-imgApp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80px; }
  .footer--description-imgApp img {
    width: 100%;
    max-width: 99px; }
  .footer--description-imgApp h4 {
    width: 100%;
    font-size: 16px;
    font-family: "sf-ProdDisplay_regular";
    color: #787878;
    margin-top: 20px; }

@media screen and (min-width: 768px) {
  .container--footer-bakcground {
    max-width: 768px; }

  .container--footer-desciption {
    max-width: 600px; }

  .footer--description-imgApp {
    flex-wrap: nowrap; }
    .footer--description-imgApp h4 {
      text-align: right;
      margin-top: 0; } }
@media screen and (min-width: 1024px) {
  .container--footer-bakcground {
    min-width: 99vw; }

  .container--footer-desciption {
    min-width: 95vw; }

  .footer--description-links {
    justify-content: flex-start; }
    .footer--description-links a {
      margin-right: 20px; } }

/*# sourceMappingURL=footer.css.map */
